.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-brand {
    margin-left: auto;
    margin-right: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #8b5cf6, #60a5fa, #8b5cf6); 
    /* background: #8b5cf6; */
}

.drag-area {
    border: 2px dashed #fff;
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ababab;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 60px;
    color: #fff;
}

.drag-area header {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.drag-area span {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #2b6cb0;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.btn-white {
    padding: 1px 20px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #2b6cb0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-white:hover {
    background-color: #fff;
    transition: 0.7s;
}

#logo {
    display: inline-flex;
    width: 150px;
    height: 150px;
}